<div class="col-xs-12 col-md-8" id="timeline">
	<button class="btn btn-primary pull-right"><%= link_to "Ver Jobs", jobs_path %></button>
	<div id="page_wrapper">
		<h1>Cadastre sua Vaga</h1>
		<%= render 'form'%>
	</div>
</div>