<div class="col-xs-12 col-md-8" id="timeline">
	<h1>Biblioteca</h1>
	<section class="livros">
		<div class="livro">
			<picture class="capa">
				<img src="assets/livro.jpg" alt="livro de calculo">
			</picture>
			<h4>Cálculo I</h4>
			<h6>John Smith</h6>
			<button class="btn-primary">LER</button>
		</div>
		<div class="livro">
			<picture class="capa">
				<img src="assets/livro-2.jpg" alt="livro de calculo">
			</picture>
			<h4>Uma Abordagem Em Pascal</h4>
			<h6>Marcos Laureano</h6>
			<button class="btn-primary">LER</button>
		</div>
		<div class="livro">
			<picture class="capa">
				<img src="assets/livro-3.jpg" alt="livro de calculo">
			</picture>
			<h4>Administração Geral e Pública - Série Provas e Concursos</h4>
			<h6>Idalberto Chiavenato</h6>
			<button class="btn-primary">LER</button>
		</div>
		<div class="livro">
			<picture class="capa">
				<img src="assets/livro-4.jpg" alt="livro de calculo">
			</picture>
			<h4>Algoritmos e Programação de Computadores </h4>
			<h6>Dilermando Piva Junior</h6>
			<button class="btn-primary">LER</button>
		</div>
		<div class="livro">
			<picture class="capa">
				<img src="assets/livro-5.jpg" alt="livro de calculo">
			</picture>
			<h4>Introdução à Programação com Python</h4>
			<h6>Nilo Ney Coutinho Menezes</h6>
			<button class="btn-primary">LER</button>
		</div>
		<div class="livro">
			<picture class="capa">
				<img src="assets/livro-6.jpg" alt="livro de calculo">
			</picture>
			<h4>Use A Cabeça! Programação</h4>
			<h6>Paul Barry</h6>
			<button class="btn-primary">LER</button>
		</div>
	</section>
</div>
</div>
</div>