<div class="col-xs-12 col-md-8" id="timeline">
	<h1>Biblioteca</h1>
	<section class="livros">
		<div class="livro">
			<picture class="capa">
				<img src="assets/livro.jpg" alt="livro de calculo">
			</picture>
			<h4>Cálculo I</h4>
			<h6>John Smith</h6>
			<button class="btn-primary">LER</button>
		</div>
		<div class="livro">
			<picture class="capa">
				<img src="assets/livro.jpg" alt="livro de calculo">
			</picture>
			<h4>Cálculo I</h4>
			<h6>John Smith</h6>
			<button class="btn-primary">LER</button>
		</div>
		<div class="livro">
			<picture class="capa">
				<img src="assets/livro.jpg" alt="livro de calculo">
			</picture>
			<h4>Cálculo I</h4>
			<h6>John Smith</h6>
			<button class="btn-primary">LER</button>
		</div>
		<div class="livro">
			<picture class="capa">
				<img src="assets/livro.jpg" alt="livro de calculo">
			</picture>
			<h4>Cálculo I</h4>
			<h6>John Smith</h6>
			<button class="btn-primary">LER</button>
		</div>
		<div class="livro">
			<picture class="capa">
				<img src="assets/livro.jpg" alt="livro de calculo">
			</picture>
			<h4>Cálculo I</h4>
			<h6>John Smith</h6>
			<button class="btn-primary">LER</button>
		</div>
		<div class="livro">
			<picture class="capa">
				<img src="assets/livro.jpg" alt="livro de calculo">
			</picture>
			<h4>Cálculo I</h4>
			<h6>John Smith</h6>
			<button class="btn-primary">LER</button>
		</div>
	</section>
</div>
</div>
</div>