a:hover {
	text-decoration: none;
}

.navbar.navbar-toggleable-md.navbar-light.bg-faded {
	background: #169fb9 !important;
}

.navbar-light .navbar-nav .active>.nav-link {
	color:  #FFF !important;
}

.img-circle {
	border-radius: 50%;
}

#profile {
	margin: 35px 0;
}

#profile > .img-circle {
	width: 180px;
	margin-left: 20%;
}

body {
	background-color: #e9ebee !important;
	}

#sidebar {
	border-right: 2px solid #FFF;
}

footer {
	background-color: #169fb9;
	position: relative;
	bottom: 0;
	color: #FFF;
	width: 100%;
	text-align:  center;
	padding: 10px;
	margin-top: 20px;
}

#timeline {
	padding-top: 25px;	
}

#timeline > h1 {
	text-align:  center;
}
#painel-login {
	background-image: url('images/fundo.png');
}

#brand img {
	width: 170px;
	margin-left:  20px;
}

.navbar-light {
	background: #;
}

.menu-login {
	position: relative;
	top:  0;
	right: 0;
	background-color: #169fb9;
	width:  100%;
	margin-bottom: 20px;
}

.form-login {
	margin:  0 auto;
	text-align: center;
}

.secoes li, .menu-principal li {
	list-style: none;	
	padding: 10px;
}

.fa {
	padding-right: 10px;
}

.livro {
	display: inline-block;
	width: 240px;
	padding: 10px;
}

.capa img {
	width: 210px;
}

.livro button {
	width: 100%;
}

.thumbnail {
	width: 50px;
}

.post_wrapper {
	background-color: #fff;
	border: 1px solid #cecece;
	padding: 20px;
	margin: 20px 0;
}

.post_wrapper figcaption {
	display: inline-block;
    padding: 10px;
    text-decoration: underline;
}
.date {
	color: #777777;
	font-size:  small;
}

.btn > a {
	color:  #FFF;
}

/*.menu-principal ul li a {
	color:  #e74c3c;
} */

.menu-principal ul li i, .secoes ul li i {
	color: #0275d8;
}

.universidade {
	color: #FFF;
	font-size: 24px;
	padding: 15px 20px 0 15px;
	font-weight: 600;
}

.universidade a {
	margin-left: 20px;
	color: #FFF;
}

.universidade a:hover {
	color: #e74c3c;
}