<nav class="menu-login">
	<div class="navbar-brand" id="brand"><%= link_to image_tag('logo.png'), root_path %></div>

	<div class="pull-right universidade">Centro Universitário de Volta Redonda - UniFOA <%= link_to '<i class="fa fa-sign-out" aria-hidden="true"></i>'.html_safe, destroy_user_session_path, :method => :delete %> 
	</div>
</nav>